// $btn-padding-y-lg: $font-size-base * (20px / $font-size-base-px);
// $btn-padding-x-lg: $font-size-base * (47.5px / $font-size-base-px);
// $btn-font-size-lg: $font-size-base;
// $btn-line-height-lg: 143.2%;
// $btn-border-radius-lg: $font-size-base * (46px / $font-size-base-px);

$link-color: color('primary');
$link-decoration: none;
$link-hover-color: color('primary');
$link-hover-decoration: underline;
